@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700&display=swap');
@import url('./reset.css');

/* block */
@import url('./allblock/header.css');

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: var(--font-weight-bold);
}

:root {
    /* -Толщина шрифта- */
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;


    --background-color-primary: #f7ede8;
    --background-color-secondary: #edf3f7;
}

.splide__list {
    display: flex;
    column-gap: 20px;
}

.splide__slide {
    min-width: 373px;
}

.splide__arrow--next, .splide__arrow--prev{
    display: none;
}